<div class="row container">
    <div class="col-sm-12">
      <p class="lead underlined">Number of books <span id='total_books'>{{books.length}}</span></p>
        <div class="books table-responsive" *ngIf="books.length > 0">
          <book-item (selectBook)="selectBookID($event)" [current_books]='current_books'></book-item>
          <div class="flex-center container paginateBook">
            <button id="previous" class="animate left-arrow button" type="button" name="button" (click)="paginateBooks('previous')"></button>
              <span>
                <div>
                    <span>Showing from</span>
                    <span>{{1+(page_number-1)*10}}</span>–
                    <span>{{page_number*10 > books.length ? books.length : page_number*10  }}</span> of
                    <span>{{books.length}}</span>
                </div>
              </span>
            <button id="next" class="animate right-arrow button" type="button" name="button" (click)="paginateBooks('next')"></button>
          </div>
          <div class="book-form">
            <book-form (getAllBooks)='displayBooks()' (deSelect)="unSelectBooks()" [all_books]="books" [book_id]="book_id"></book-form>
          </div>
        </div>
    </div>
</div>
