<div class="flex-center container">
  <button class="btn-primary" type="button" name="button" (click)="showForm()">Add</button>
  <button class="btn-success" type="button" name="button" (click)="editBook()">Edit</button>
  <button class="btn btn-success" type="button" name="button" (click)="issueBook()" [disabled]='button_issue_disable'>Issue Book</button>
  <button class="btn btn-danger" type="button" name="button" (click)="deleteBook()" [disabled]="button_disable">Delete</button>
</div>

<div [ngClass]='toggleEditError' class="flex-center container">
  <p>You must select book from in order to edit</p>
</div>
<div class="container">
  <form [ngClass]="toggleShow" (ngSubmit)="onSubmit(bookForm.value, $event)" [formGroup]="bookForm">
      <div class="form-group">
          <label>Book Name</label>
          <input type="text" formControlName="book_name" class="form-control" required>
      </div>

      <div class="form-group">
          <label>Author</label>
          <input type="text" formControlName="author_name" class="form-control" required>
      </div>
      <div class="form-group">
          <label>ISBN Code</label>
          <div [ngClass]="toggleMessage">
            <span>Warning: Duplicate Book ISBN. You will only be able to add more book_quantity, Confirm?</span>
            <button class="btn-primary" type="button" (click)="toggleDisabled('off')">Confirm</button>
          </div>
          <input type="text" formControlName="isbn_code" class="form-control" required>
      </div>
      <div class="form-group">
          <label>Book Quantity</label>
          <input type="number" formControlName="book_quantity" class="form-control" required>
      </div>

      <div class="form-group">
          <label>Published Date</label>
          <input type="month" formControlName="published_date" maxlength=4 max='2018' class="form-control" required>
      </div>

      <div class="form-group">
          <label>Book Category</label>
          <input type="text" formControlName="book_category" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Save Book</button>
  </form>
</div>
