@media screen and (max-width: 767px){
  #books thead {
      display: none;
  }

  #books tr {
    border: 0;
    padding: 15px;
    margin-bottom: 10px;
    display: block;
  }

  #books td {
    box-sizing: border-box;
    display: block;
    float: left;
    clear: left;
    width: 100%;
    text-align: right;
    font-size: 13px;
    border: 2px solid rgba(255, 255, 255, 255, 0.15);
  }

  .table#books > tbody > tr:not(:hover):not(:focus), .table#books > tfoot > tr:not(:hover):not(:focus), .table#books > thead > tr:not(:hover):not(:focus) {
      border: 2px solid rgba(0, 0, 0, 0.13);
  }

  .table#books > tbody > tr > td:first-child, .table#books > tbody > tr > th:first-child, .table#books > tfoot > tr > td:first-child, .table#books > tfoot > tr > th:first-child, .table#books > thead > tr > td:first-child, .table#books > thead > tr > th:first-child {
      border-top: none;
  }

}
