<div class="container">

  <table *ngIf="book_id" width="400" height="5" id="book_transactions">
    <thead *ngIf='!zero_transaction_message'>
      <h3>Book Transactions for {{book.book_name}}</h3>
      <tr>
        <th>Transaction Date</th>
        <th>Transaction Type</th>
        <th>Transaction Status</th>
        <th>Returned Date </th>
      </tr>
    </thead>
    <tbody>
      <tr class="book_transactions" *ngFor="let book_transaction of book_transactions">
        <td>{{book_transaction.created_at | date }}</td>
        <td>{{book_transaction.transaction_type | uppercase}}</td>
        <td>{{ book_transaction.transaction_status ? 'Open': 'Closed'}}</td>
        <td>{{ book_transaction.transaction_status ? 'Not Returned': book_transaction.updated_at | date }}</td>
        <button *ngIf='book_transaction.transaction_status' class="btn-danger" (click)="returnBookIssue(book_transaction)">Return Book</button>
      </tr>
    </tbody>
  </table>
  <p class="flex-center" *ngIf='zero_transaction_message'>No book transactions for <br><strong>{{book.book_name}} </strong></p>

  <div *ngIf='!book_id' class="flex-center">
    <h3>No book selected go to <a href="#/books">books</a> and select a book to view transactions</h3>
  </div>
</div>
